.checked {
    text-decoration: line-through;
}

li {
    padding: 12px 0;
}

.moreInfoBtn {
    margin-left: 10px;
}

.window {
    border: 1px black solid;
    background-color: white;
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeModalWindowBtn {
    position: absolute;
    top: 12px;
    right: 12px;
}